:root{
  --color-primary: #36a51d;
  --color-secondary: #c3f6b8;

  --color-dark-primary: #141216;
  --color-dark-secondary: #6b5581;

  --transition: all 0.5s ease-in-out;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}